$content-width: 1000px;
$nav-height: 60px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color:#f16556;

.navigation 
{
  height: $nav-height;
  background: $nav-background;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  color: white;
}

.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      }
      
    }
  }
}

